player-connection-mode=Listen
player-connection-guid=1917806719
player-connection-debug=0
player-connection-project-name=BecomeMasterChef
player-connection-ip=192.168.13.1
player-connection-ip=192.168.195.1
player-connection-ip=192.168.1.5
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=912a1cfd2f884aa78de4a3d42c01239e
